body {
  margin: 0;
  font-family: -apple-system, Montserrat, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  text-align: left;
  background-color: #fff;
}
element.style {
  width: 20px;
}
.ml-2, .mx-2 {
  margin-left: 0.5rem !important;
}

.mt-2, .my-2 {
  margin-top: 0.7rem !important;
}
.ml-4,
.mx-4 {
  margin-left: 1.5rem !important;
}
.dropup, .dropright, .dropdown, .dropleft {
  position: relative;
}
.search-bar{
  position: relative;
  width: 100%;
}
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.search-input-container{
  display: flex;
  align-items: center;
  gap: 200px;
  max-width: 1000px;
}

.project-code-button{
  width: 80px;
  text-align: center;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  cursor: not-allowed;
}

.search-input{
  flex-grow: 1;
  padding: 5px;
  border-radius: 0;
  border: 1px solid #ccc;
  border-right: none;
}

.search-button-toggle {
  padding: 5px;
  cursor: pointer;
  background-color: #ddd;
  border: 1px solid #ccc;
  border-left: none;
  border-top-right-radius:  4px;
  border-bottom-right-radius: 4px;
}

.custom-button {
  padding: 10px 10px;
  border: none;
  cursor: pointer;
  box-shadow:  0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

.custom-button:active {
  background-color: #666;
  box-shadow: #666;
  transform: translateY(2px);
}

.autocomplete-list{
  width: 100%;
  border: 1px solid #ccc;
  background-color: #fff;
  z-index: 1000;
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 150px;
  overflow-y: auto;
}

.autocomplete-item {
  padding: 5px;
  cursor: pointer;
}

.project-code-button {
  padding: 5px 8px;
}

.Search-and-back{
  margin-top: 40px;
}

.Search{
  display: flex;
}

.Search-button{
  padding: 0.5rem 2rem;
}

.btn {
  display: inline-block;
  font-size: 1rem;
  /*box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 2px 5px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 2px rgba(0, 0, 0, 0.2);*/
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 4px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.2);
  background-color: #F8485E;
  color: #fff;
  padding: 0.375rem 0.75rem;
  margin-right: 0.5rem;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

}


  .btn:disabled, .btn[disabled] {
      background-color: silver;
      color: #fff;
  }

a.btn[disabled] {
  pointer-events: none;
  color: #fff;
}

  a.btn[disabled]:hover {
      pointer-events: none;
      color: #fff;
  }

.btn[disabled], .btn[disabled]:hover, .btn[disabled]:focus, .btn[disabled]:active {
  cursor: default;
}



.selected-project-table {
  width: 100%;
  border-collapse:collapse ;
}

.selected-project-table th,
.selected-project-table td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.selected-project-table th{
  background-color: #f2f2f2;
}

.selected-project-table.total-row{
  text-align: center;
}
.col-sm-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local("Material Icons"), local("MaterialIcons-Regular"), url("/src/fonts/material-design-icons/MaterialIcons-Regular.ttf") format("truetype"), url("/src/fonts/material-design-icons/MaterialIcons-Regular.woff2") format("woff2"), url("/src/fonts/material-design-icons/MaterialIcons-Regular.woff") format("woff"), url("/src/fonts/material-design-icons/MaterialIcons-Regular.eot");
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 22px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

.float-right {
  float: right !important;
}
#content .material-icons {
  font-size: 16px;
  line-height: unset;
}
.float-left {
  float: left !important;
}


.bar-logo{
  background-color:#F8485E;
  width: 100%;
  color: white;
  height: 3rem;
  display: flex;
  gap: 1rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
 box-shadow:  0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
  }



.Nombres{
margin-left: 850px;
margin-top:12px;
font-family: -apple-system, Montserrat, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


.nombre-usuario{
  margin-left: 40rem;
  align-items: center;

}


.avatar-status img {
    width: 100%;
    max-width: 100%;
    height: auto;
    background: #e6e6e6;
    border: 0 none;
    border-top-color: initial;
    border-top-style: none;
    border-top-width: 0px;
    border-right-color: initial;
    border-right-style: none;
    border-right-width: 0px;
    border-bottom-color: initial;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-left-color: initial;
    border-left-style: none;
    border-left-width: 0px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-radius: 1000px;
}
.img {
  vertical-align: middle;
  border-style: none;
}
*, *::before, *::after {
  box-sizing: border-box;
}
img {
  overflow-clip-margin: content-box;
  overflow: clip;
}

.avatar-status {
  position: relative;
  display: inline-block;
  line-height: 50px;
  width: 28px;
  white-space: nowrap;
  border-radius: 1000px;
  vertical-align: bottom;
}

:root {
  /*--breadcrumb-theme-1: #8C5A60;*/
  --breadcrumb-theme-1: #fca2ae;
  --breadcrumb-theme-2: #fff;
  --breadcrumb-theme-3: white;
  --breadcrumb-theme-4: black;
}


.breadcrumb-custom {
  height: 51px !important;
  margin-bottom: 0 !important;
  display: block;
  /* flex-wrap: nowrap !important; */
}
a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}


.breadcrumb {
  margin-top: 5rem;
  justify-content: flex-start;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  border-radius: 0.25rem;
}
#content label {
  font-size: 11px !important;
}
.col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.breadcrumb__step {
  text-decoration: none;
  outline: none;
  display: block;
  float: left;
  font-size: 12px;
  line-height: 26px;
  padding: 0 10px 0 30px;
  position: relative;
  background: var(--breadcrumb-theme-2);
  color: var(--breadcrumb-theme-4);
  transition: background 0.5s;
}

  .breadcrumb__step:first-child {
      border-radius: 5px 0 0 5px;
      /*background-color:white;*/
      padding:0 10px 0 10px;
  }

      .breadcrumb__step:first-child::before {
        left: 14px;
      }

  .breadcrumb__step:last-child {
      border-radius: 0 5px 5px 0;
      padding-right: 20px;
      border: 1px solid var(--breadcrumb-theme-2);
  }
      .breadcrumb__step:last-child::before {
          content: '';
          position: absolute;
          top: 0;
          left:-14px;
          width: 28px;
          height: 26px;
          transform: scale(0.707) rotate(134deg);
          z-index: 1;
          border-radius: 0 5px 50px 0;
          transition: background 0.5s;
          border-left: 1.5px solid var(--breadcrumb-theme-2);
          border-top: 1.5px solid var(--breadcrumb-theme-1);
        }


      .breadcrumb__step:last-child::after {
          content: none;
      }

  .breadcrumb__step::after {
      content: '';
      position: absolute;
      top: 0;
      right:-9px;
      width: 26px;
      height: 26px;
      transform: scale(0.707) rotate(45deg);
      z-index: 1;
      border-radius: 0 5px 0 50px;
      background: var(--breadcrumb-theme-3);
      transition: background 0.5s;
      box-shadow: 2px -2px 0 2px var(--breadcrumb-theme-2);
  }

.breadcrumb__step--active,
.breadcrumb__step--active::after {
  background: var(--breadcrumb-theme-1);
}

.breadcrumb__step--active {
  color: var(--breadcrumb-theme-2);
}
.breadcrumb__step:last-child {
  border-radius: 0 5px 5px 0;
  padding-right: 20px;
  border: 1px solid var(--breadcrumb-theme-1);
}

  .breadcrumb__step--active::before {
      color: var(--breadcrumb-theme-2);
  }
  .breadcrumb__step {
    text-decoration: none;
    outline: none;
    display: block;
    float: left;
    font-size: 12px;
    line-height: 26px;
    padding: 0 10px 0 30px;
    position: relative;
    background: var(--breadcrumb-theme-2);
    color: var(--breadcrumb-theme-3);
    transition: background 0.5s;
}
.breadcrumb__step--active, .breadcrumb__step--active::after {
  background: var(--breadcrumb-theme-1);
}


  .iconEncabezadoBody {
    width: 20px;
    height: 20px;
}

img {
  vertical-align: middle;
  border-style: none;
}
*, *::before, *::after {
  box-sizing: border-box;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
}
i {
  font-style: italic;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.mt-1, .my-1 {
  margin-top: 0.25rem !important;
}

.row {
  margin-top: 20px;
  display: flex;
  margin-bottom: 40px;
  font-size: 11px !important;
  border: 1px solid #dee2e6 !important;

}

.flipContainer {
  cursor: pointer;
  letter-spacing: .5px;
  color: #FFF;
  font-family: Montserrat, "Roboto", sans-serif;
  /* transition: .3s ease-out; */
  margin-bottom: -1px;
  border-bottom-color: #fd7b8b;
  display: flow-root;
  height: 20px;

}
.flipContainer {
  text-align: center;
}
.panel, .flipContainer {
  padding: 0;
  border: solid 1px #c3c3c3;
}
.bg-redpoppy-light {
  background-color: #fd7b8b;
}
.mt-1, .my-1 {
  margin-top: 0.25rem !important;
}
.col-acciones {
  width: 105px !important;
}

@media (min-width: 576px) {
  .col-sm-12 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
  }
}
*, *::before, *::after {
  box-sizing: border-box;
}
user agent stylesheet
div {
  display: block;
  unicode-bidi: isolate;
}
.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #ffffff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
@media only screen and (max-width: 977px) {
  .card {
      position: static !important;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
      flex-direction: column;
      min-width: 0;
      word-wrap: break-word;
      background-color: #fff;
      background-clip: border-box;
      border: 1px solid rgba(0, 0, 0, 0.125);
      border-radius: 0.25rem;
  }
}
.tab-content .card {
  padding: 14px;
  border-top: 0;
  border-bottom: 0;
  border-radius: 0;
}


@media only screen and (max-width: 320px){
  .breadcrumb-custom {
      margin-bottom: 20px !important;
  }
}

.mt-4{
  display: inline-block;
  border: 1px solid #000000;
}






.select2-container {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  position: relative;
  vertical-align: middle
}

.select2-container .select2-selection--single {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: 28px;
  user-select: none;
  -webkit-user-select: none
}

.select2-container .select2-selection--single .select2-selection__rendered {
  display: block;
  padding-left: 8px;
  padding-right: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.select2-container .select2-selection--single .select2-selection__clear {
  background-color: transparent;
  border: none;
  font-size: 1em
}

.select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
  padding-right: 8px;
  padding-left: 20px
}

.select2-container .select2-selection--multiple {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  min-height: 32px;
  user-select: none;
  -webkit-user-select: none
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
  display: inline;
  list-style: none;
  padding: 0
}

.select2-container .select2-selection--multiple .select2-selection__clear {
  background-color: transparent;
  border: none;
  font-size: 1em
}

.select2-container .select2-search--inline .select2-search__field {
  box-sizing: border-box;
  border: none;
  font-size: 100%;
  margin-top: 5px;
  margin-left: 5px;
  padding: 0
}

.select2-container .select2-search--inline .select2-search__field::-webkit-search-cancel-button {
  -webkit-appearance: none
}

.select2-dropdown {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
  position: absolute;
  left: -100000px;
  width: 100%;
  z-index: 1051
}

.select2-results {
  display: block
}

.select2-results__options {
  list-style: none;
  margin: 0;
  padding: 0
}

.select2-results__option {
  padding: 6px;
  user-select: none;
  -webkit-user-select: none
}

.select2-results__option--selectable {
  cursor: pointer
}

.select2-container--open .select2-dropdown {
  left: 0
}

.select2-container--open .select2-dropdown--above {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0
}

.select2-container--open .select2-dropdown--below {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0
}

.select2-search--dropdown {
  display: block;
  padding: 4px;
}

.select2-search--dropdown .select2-search__field {
  padding: 4px;
  width: 100%;
  box-sizing: border-box
}

.select2-search--dropdown .select2-search__field::-webkit-search-cancel-button {
  -webkit-appearance: none
}

.select2-search--dropdown.select2-search--hide {
  display: none
}

.select2-close-mask {
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  z-index: 99;
  background-color: #fff;
  filter: alpha(opacity=0)
}

.select2-hidden-accessible {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important
}

.select2-container--default .select2-selection--single {
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 4px
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #444;
  line-height: 28px
}

.select2-container--default .select2-selection--single .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
  height: 26px;
  margin-right: 20px;
  padding-right: 0px
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #999
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 26px;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 20px
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: #888 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  height: 0;
  left: 50%;
  margin-left: -4px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  width: 0
}

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__clear {
  float: left
}

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow {
  left: 1px;
  right: auto
}

.select2-container--default.select2-container--disabled .select2-selection--single {
  background-color: #eee;
  cursor: default
}

.select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear {
  display: none
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #888 transparent;
  border-width: 0 4px 5px 4px
}

.select2-container--default .select2-selection--multiple {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: text;
  padding-bottom: 5px;
  padding-right: 5px
}

.select2-container--default .select2-selection--multiple .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
  height: 20px;
  margin-right: 10px;
  margin-top: 5px;
  padding: 1px
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #e4e4e4;
  border: 1px solid #aaa;
  border-radius: 4px;
  display: inline-block;
  margin-left: 5px;
  margin-top: 5px;
  padding: 0
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__display {
  cursor: default;
  padding-left: 2px;
  padding-right: 5px
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  background-color: transparent;
  border: none;
  border-right: 1px solid #aaa;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  color: #999;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  padding: 0 4px
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover,.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:focus {
  background-color: #f1f1f1;
  color: #333;
  outline: none
}

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  margin-left: 5px;
  margin-right: auto
}

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice__display {
  padding-left: 5px;
  padding-right: 2px
}

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
  border-left: 1px solid #aaa;
  border-right: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px
}

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__clear {
  float: left;
  margin-left: 10px;
  margin-right: auto
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: solid black 1px;
  outline: 0
}

.select2-container--default.select2-container--disabled .select2-selection--multiple {
  background-color: #eee;
  cursor: default
}

.select2-container--default.select2-container--disabled .select2-selection__choice__remove {
  display: none
}

.select2-container--default.select2-container--open.select2-container--above .select2-selection--single,.select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
  border-top-left-radius: 0;
  border-top-right-radius: 0
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single,.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa
}

.select2-container--default .select2-search--inline .select2-search__field {
  background: transparent;
  border: none;
  outline: 0;
  box-shadow: none;
  -webkit-appearance: textfield
}

.select2-container--default .select2-results>.select2-results__options {
  max-height: 200px;
  overflow-y: auto
}

.select2-container--default .select2-results__option .select2-results__option {
  padding-left: 1em
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__group {
  padding-left: 0
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -1em;
  padding-left: 2em
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -2em;
  padding-left: 3em
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -3em;
  padding-left: 4em
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -4em;
  padding-left: 5em
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -5em;
  padding-left: 6em
}

.select2-container--default .select2-results__option--group {
  padding: 0
}

.select2-container--default .select2-results__option--disabled {
  color: #999
}

.select2-container--default .select2-results__option--selected {
  background-color: #ddd
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #5897fb;
  color: white
}

.select2-container--default .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px
}

.select2-container--classic .select2-selection--single {
  background-color: #f7f7f7;
  border: 1px solid #aaa;
  border-radius: 4px;
  outline: 0;
  background-image: -webkit-linear-gradient(top, #fff 50%, #eee 100%);
  background-image: -o-linear-gradient(top, #fff 50%, #eee 100%);
  background-image: linear-gradient(to bottom, #fff 50%, #eee 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0)
}

.select2-container--classic .select2-selection--single:focus {
  border: 1px solid #5897fb
}

.select2-container--classic .select2-selection--single .select2-selection__rendered {
  color: #444;
  line-height: 28px
}

.select2-container--classic .select2-selection--single .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
  height: 26px;
  margin-right: 20px
}

.select2-container--classic .select2-selection--single .select2-selection__placeholder {
  color: #999
}

.select2-container--classic .select2-selection--single .select2-selection__arrow {
  background-color: #ddd;
  border: none;
  border-left: 1px solid #aaa;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  height: 26px;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 20px;
  background-image: -webkit-linear-gradient(top, #eee 50%, #ccc 100%);
  background-image: -o-linear-gradient(top, #eee 50%, #ccc 100%);
  background-image: linear-gradient(to bottom, #eee 50%, #ccc 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFCCCCCC', GradientType=0)
}

.select2-container--classic .select2-selection--single .select2-selection__arrow b {
  border-color: #888 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  height: 0;
  left: 50%;
  margin-left: -4px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  width: 0
}

.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__clear {
  float: left
}

.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__arrow {
  border: none;
  border-right: 1px solid #aaa;
  border-radius: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  left: 1px;
  right: auto
}

.select2-container--classic.select2-container--open .select2-selection--single {
  border: 1px solid #5897fb
}

.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow {
  background: transparent;
  border: none
}

.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #888 transparent;
  border-width: 0 4px 5px 4px
}

.select2-container--classic.select2-container--open.select2-container--above .select2-selection--single {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-image: -webkit-linear-gradient(top, #fff 0%, #eee 50%);
  background-image: -o-linear-gradient(top, #fff 0%, #eee 50%);
  background-image: linear-gradient(to bottom, #fff 0%, #eee 50%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0)
}

.select2-container--classic.select2-container--open.select2-container--below .select2-selection--single {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-image: -webkit-linear-gradient(top, #eee 50%, #fff 100%);
  background-image: -o-linear-gradient(top, #eee 50%, #fff 100%);
  background-image: linear-gradient(to bottom, #eee 50%, #fff 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFFFFFFF', GradientType=0)
}

.select2-container--classic .select2-selection--multiple {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: text;
  outline: 0;
  padding-bottom: 5px;
  padding-right: 5px
}

.select2-container--classic .select2-selection--multiple:focus {
  border: 1px solid #5897fb
}

.select2-container--classic .select2-selection--multiple .select2-selection__clear {
  display: none
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice {
  background-color: #e4e4e4;
  border: 1px solid #aaa;
  border-radius: 4px;
  display: inline-block;
  margin-left: 5px;
  margin-top: 5px;
  padding: 0
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice__display {
  cursor: default;
  padding-left: 2px;
  padding-right: 5px
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove {
  background-color: transparent;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  color: #888;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  padding: 0 4px
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove:hover {
  color: #555;
  outline: none
}

.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  margin-left: 5px;
  margin-right: auto
}

.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice__display {
  padding-left: 5px;
  padding-right: 2px
}

.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px
}

.select2-container--classic.select2-container--open .select2-selection--multiple {
  border: 1px solid #5897fb
}

.select2-container--classic.select2-container--open.select2-container--above .select2-selection--multiple {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0
}

.select2-container--classic.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0
}

.select2-container--classic .select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa;
  outline: 0
}

.select2-container--classic .select2-search--inline .select2-search__field {
  outline: 0;
  box-shadow: none
}

.select2-container--classic .select2-dropdown {
  background-color: #fff;
  border: 1px solid transparent
}

.select2-container--classic .select2-dropdown--above {
  border-bottom: none
}

.select2-container--classic .select2-dropdown--below {
  border-top: none
}

.select2-container--classic .select2-results>.select2-results__options {
  max-height: 200px;
  overflow-y: auto
}

.select2-container--classic .select2-results__option--group {
  padding: 0
}

.select2-container--classic .select2-results__option--disabled {
  color: grey
}

.select2-container--classic .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #3875d7;
  color: #fff
}

.select2-container--classic .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px
}

.select2-container--classic.select2-container--open .select2-dropdown {
  border-color: #5897fb
}